@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*:before,
*:after{
    box-sizing: border-box;
}
*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto',sans-serif;
}
.box{
    position: relative;
    background: rgba(255, 255, 255, 0.6);
    width: 770px;
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 20px ;
    transition: width 500ms ease;
}
.box h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.box .date-picker{
    position: relative;
    display: flex;
    align-items: center;
}
.box .date-picker input{
    margin: 0 10px ;
    border: 0;
    padding: 0.5rem;
    transition: box-shadow 500ms ease;
    border-radius: 10px;
}
.box .date-picker input:focus{
    box-shadow: 0 0 10px #292929;
    outline: none;
}
.box .date-picker span{
    display: inline-block;
    text-transform: uppercase;
}
.box .date-picker span#choseDate{
    margin-left: auto;
}
.age-calc{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 2s, opacity 3s, margin 250ms ease;
}
.age-calc.expand{
    margin-top: 30px;
    max-height: 1000px;
    opacity: 1;
}
.age-calc .age-box{
    background: #fff;
    border-radius: 10px;
    margin: 10px;
    width: 222px;
    transition: 500ms ease;
}
.age-calc .age-box p.header{
    position: relative;
    text-align: center;
    background: #3af7c9;
    padding: 10px 30px;
    border-radius: 10px 10px 0 0;
    font-size: 1.2rem;
    font-family: 500;
    text-transform: uppercase;

}
.age-calc .age-box:nth-child(even) p.header{
    background: #40ef9b;
}
.age-calc .age-box .value{
    text-align: center;
    padding: 30px 20px ;
}

@media (max-width: 768px){
    body{
        display: block;
        margin: 2rem 0;
    }
    .box{
        width: 600px;
        margin: 0 auto;
    }
    .age-calc .age-box{
        width: 150px;
        margin: 15px;
    }
    .age-calc .age-box p.header{
        padding: 10px 20px;
        font-size: 1rem;
    }
    .age-calc .age-box .value{
        padding: 30px 20px;
        font-size: 1rem;
    }
}
@media(max-width: 600px){
    .box{
        width: 300px;
    }
    .box .date-picker{
        display: block;
    }
    .box .date-picker input{
        margin: 10px 0;
        width: 100%;
    }
    .age-calc .age-box{
        width: 120px;
        margin: 5px;
    }
    .age-calc .age-box p.header{
        padding: 10px 5px;
        font-size: .8rem;
    }
    .age-calc .age-box .value{
        padding: 30px 5px;
        font-size: .9rem;
    }
}
